NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
NEXT_PUBLIC_APPLE_PAY_KEY=your_apple_pay_key_here
NEXT_PUBLIC_GOOGLE_PAY_KEY=your_google_pay_key_here
NEXT_PUBLIC_REVOLUT_PAY_KEY=your_revolut_pay_key_here
